@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Sora:wght@200;400;500&family=Urbanist:wght@300;500;600;700&display=swap");

.about {
  background: 
    /* top, transparent red, faked with gradient */ linear-gradient(
      rgba(114, 108, 108, 0.5),
      rgba(114, 108, 108, 0.5)
    ),
    /* bottom, image */ url("../assets/background.jpg");
  height: 100vh;
  height: 100svh;
  background-position: 60% 45%;
  background-repeat: no-repeat;
  background-size: cover;
}

#about-underlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 15%;
  background-color: rgba(25, 29, 28, 0.85);
  text-align: center;
  color: white;
}

.card-title {
  font-size: 45px;
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
}

.card-subtitle {
  font-size: 25px;
  font-style: oblique;
  margin-top: 10px;
  font-family: "Urbanist", sans-serif;
}

p {
  font-size: 18px;
  margin-top: 10px;
  text-align: justify;
}

.my-photo {
  height: 220px;
  border-radius: 20%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.linkedin {
  font-size: 50px;
  background: transparent;
  border: transparent;
  vertical-align: middle;
  color: white;
}

.linkedin:hover {
  text-decoration: none;
  color: rgb(192, 189, 189);
  outline-color: #000000;
}

.github {
  font-size: 50px;
  background: transparent;
  border: transparent;
  vertical-align: middle;
  color: white;
  margin-right: 20px;
}

.github:hover {
  text-decoration: none;
  color: rgb(192, 189, 189);
  outline-color: #000000;
}

@media only screen and (max-width: 1400px) {
  #about-underlay {
    height: 80vh;
    padding-block-end: 1%;
  }

  .card-title {
    font-size: 5vh;
  }

  .card-subtitle {
    font-size: 3vh;
    font-style: oblique;
    margin-top: 10px;
    font-family: "Urbanist", sans-serif;
  }

  p {
    font-size: 2.5vh;
    margin-block-start: 2px;
  }

  .my-photo {
    height: 15vh;
    margin-block-end: 2px;
    margin-block-start: 2px;
  }

  .github {
    font-size: 5vh;
    margin-block-end: 2px;
  }

  .linkedin {
    font-size: 5vh;
    margin-block-end: 2px;
  }
}
