.about {
  background: 
    /* top, transparent red, faked with gradient */ linear-gradient(
      rgba(114, 108, 108, 0.5),
      rgba(114, 108, 108, 0.5)
    ),
    /* bottom, image */ url("../images/background.jpg");
  height: 100vh;
  height: 100svh;
  background-position: 60% 45%;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 15%;
  background-color: rgba(25, 29, 28, 0.85);
  text-align: center;
  color: white;
}

.card-title {
  font-size: 40px;
}

.card-subtitle {
  font-size: 25px;
  font-style: oblique;
  margin-top: 10px;
}

p {
  font-size: 18px;
  margin-top: 10px;
  text-align: justify;
}

.my-photo {
  height: 200px;
  border-radius: 20%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.linkedin {
  font-size: 50px;
  background: transparent;
  border: transparent;
  vertical-align: middle;
  color: white;
}

.linkedin:hover {
  text-decoration: none;
  color: rgb(192, 189, 189);
  outline-color: #000000;
}

.github {
  font-size: 50px;
  background: transparent;
  border: transparent;
  vertical-align: middle;
  color: white;
  margin-right: 20px;
}

.github:hover {
  text-decoration: none;
  color: rgb(192, 189, 189);
  outline-color: #000000;
}
