.contact {
  background: 
        /* top, transparent red, faked with gradient */ linear-gradient(
      rgba(114, 108, 108, 0.3),
      rgba(114, 108, 108, 0.3)
    ),
    /* bottom, image */ url("../assets/desk3.jpg");
  height: 100vh;
  height: 100svh;
  background-position: 60% 45%;
  background-repeat: no-repeat;
  background-size: cover;
}
