.projects {
  background: 
      /* top, transparent red, faked with gradient */ linear-gradient(
      rgba(114, 108, 108, 0.3),
      rgba(114, 108, 108, 0.3)
    ),
    /* bottom, image */ url("../assets/desk4.jpg");
  height: 100vh;
  height: 100svh;
  background-position: 60% 45%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-block-start: 5%;
  /* display: flex;
  flex-direction: column; */
}

#projects-container {
  margin-block-start: 3%;
  width: 100%;
  display: inline;
}

.carousel {
  z-index: 5;
  text-align: center;
  align-items: center;
  padding-block-start: 2%;
  height: 75vh;
  background-color: rgba(114, 108, 108, 0.4);
}

.carousel-caption {
  height: auto;
}

.carousel-item-name {
  color: white;
  font-size: 3vh;
  vertical-align: middle;
  margin-block-end: 0;
}

a.project-github {
  color: white;
  text-decoration: none;
  font-size: 2em;
  margin-block-start: 0;
  padding-block-start: 0;
}

.project-github:hover {
  color: rgb(192, 190, 190);
}

.embed-responsive-item {
  height: 40vh;
  width: 65vh;
  margin-block-start: 1%;
}

.carousel-item {
  text-align: center;
  color: white;
  /* height: 65vh;
  height: 65svh; */
}

.projects-description {
  text-align: center;
  margin-inline: 15% 15%;
  color: white;
}

.projects-p {
  text-align: center;
  font-size: 2vh;
}

@media only screen and (max-width: 992px) {
  .carousel-item-name {
    font-size: 3vh;
  }

  .carousel {
    height: 80vh;
  }
}

@media only screen and (max-width: 768px) {
  .carousel {
    height: 85vh;
  }
}

@media only screen and (max-width: 600px) {
  .carousel {
    height: 80vh;
  }

  .carousel-item-name {
    font-size: 3vh;
  }

  .projects-p {
    font-size: 2vh;
  }

  .embed-responsive-item {
    height: 25vh;
    width: 40vh;
    margin-block-start: 15%;
  }

  #projects-container {
    margin-block-start: 10%;
  }
}

/* 
@media only screen and (max-width: 1400px) {
  .projects {
    background-size: cover;
    height: 900px;
  }

  .carousel {
    height: 80vh;
  }

  .carousel-caption {
    padding-block-start: 5px;
    padding-block-end: 0;
    margin: 0;
  }

  .embed-responsive-item {
    height: 40vh;
    width: 30%;
  }

  .carousel-caption h3 {
    font-size: 1rem;
  }

  .carousel-caption p {
    font-size: 0.8rem;
    margin-block-start: 0;
    margin-block-end: 0;
    z-index: 10;
  }

  .carousel-indicators {
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
  }

  a.project-github {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 800px) {
  .carousel-caption {
    padding-block-end: 0%;
    overflow: auto;
  }

  .embed-responsive-item {
    height: 40vh;
    width: 35%;
    padding-block-end: 4%;
  }

  .carousel-caption h3 {
    font-size: 1rem;
  }

  .carousel-caption p {
    font-size: 0.5rem;
  }
} */
